<?php
    $products = Mage::getModel('catalog/product')->getCollection()
        ->addAttributeToSelect('*')
        ->addAttributeToFilter('is_wedding_party', array(1))
        ->addAttributeToFilter('status', array(1));
    //shuffle($products);
?>
<div class="tab-row row">
<?php foreach ($products as $_product):?>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="thumbnail clearfix">
                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>" itemprop="name" class="a-product-name">
                  <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(80, 210); ?>" alt="<?php echo $this->htmlEscape($_product->getName()) ?>">
                </a>
                <div class="caption">
                    <div class="info">
                        <div class="product-title"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>" itemprop="name" class="a-product-name"><?php echo $this->htmlEscape($_product->getName()); ?></a></div>
                        <div class="origin"><i class="fa fa-map-marker" aria-hidden="true"></i><?php echo $this->htmlEscape($_product->getAttributeText('country')); ?></div>
                        <div class="taste"><?php echo $this->htmlEscape($_product->getData('tasting_notes')); ?></div>
                        <div class="size">Size: <?php echo $this->htmlEscape($_product->getAttributeText('size')); ?></div>
                        <div class="ratings">
                          Ratings:
                          <span class="stars">
                            <?php
                                $ratings = $this->htmlEscape($_product->getData('ratings'));
                                for($_i=0; $_i<5; $_i++){
                                    if($_i < $ratings){
                                        echo '<i class="fa fa-star" aria-hidden="true"></i>';
                                    }
                                    else{
                                        echo '<i class="fa fa-star-o" aria-hidden="true"></i>';
                                    }
                                }
                            ?>
                          </span>
                        </div>
                    </div>
                    <div class="cart-price clearfix">
                        <div class="col-xs-6">
                            <?php
                                $_coreHelper = $this->helper('core');
                                $_weeeHelper = $this->helper('weee');
                                $_taxHelper = $this->helper('tax');

                                $_store = $_product->getStore();
                                $_simplePricesTax = ($_taxHelper->displayPriceIncludingTax() || $_taxHelper->displayBothPrices());
                                $_convertedPrice = $_store->roundPrice($_store->convertPrice($_product->getPrice()));
                                $_regularPrice = $_taxHelper->getPrice($_product, $_convertedPrice, $_simplePricesTax);
                                $_originalWeeeTaxAmount = $_weeeHelper->getOriginalAmount($_product);
                                $_originalWeeeTaxAmount = $_store->roundPrice($_store->convertPrice($_originalWeeeTaxAmount));
                                $_convertedFinalPrice = $_store->roundPrice($_store->convertPrice($_product->getFinalPrice()));
                                $_finalPrice = $_taxHelper->getPrice($_product, $_convertedFinalPrice)
                            ?>
                            <div class="price">
                                <?php //echo $this->htmlEscape($_product->getData('price')); ?>
                                <?php echo $_coreHelper->formatPrice($_regularPrice + $_originalWeeeTaxAmount, false) ?>
                            </div>
                            <div class="promotion">
                                <?php //echo $this->htmlEscape($_product->getData('special_price')); ?>
                                <?php echo $_coreHelper->formatPrice($_finalPrice + $_weeeTaxAmount, false) ?>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <?php if(!$_product->canConfigure() && $_product->isSaleable()): ?>
                                <form  method="post" id="" action="<?php echo $this->helper('checkout/cart')->getAddUrl($_product) ?>" >
                                  <div class="quantity">
                                      <div class="form-group">
                                          <select class="form-control" id="" name="qty">
                                          <?php
                                              $stockQty = Mage::getModel('cataloginventory/stock_item')->loadByProduct($_product);
                                              $qty = $stockQty->getQty();
                                              if($qty == 0){
                                                  echo '<option>0</option>';
                                              }
                                              else{
                                                  for($i=1; $i<=$qty; $i++){
                                                      echo "<option>{$i}</option>";
                                                  }
                                              }
                                          ?>
                                          </select>
                                      </div>
                                  </div>
                                  <div class="to-cart">
                                      <button type="submit" name="button" class="btn btn-cart" title="<?php echo $this->__('Add to Cart') ?>"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                                  </div>
                                </form>
                            <?php endif; ?>
                        </div>
                    </div>
                    <div class="share">
                        <div class="col-xs-4 col-sm-4 col-md-4">
                            <div class="collect"><i class="fa fa-heart" aria-hidden="true"></i></div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                            <div class="file"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                            <ul class="nav navbar-nav">
                                <li class="dropdown" id="li-share">
                                    <div id="div-share" class="sharing" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-share-alt" aria-hidden="true"></i></div>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="div-share">
                                      <li>
                                        <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                                          <a class="addthis_button_preferred_1" addthis:url="<?php echo $_product->getProductUrl() ?>"></a>
                                          <a class="addthis_button_preferred_2" addthis:url="<?php echo $_product->getProductUrl() ?>"></a>
                                          <a class="addthis_button_preferred_3" addthis:url="<?php echo $_product->getProductUrl() ?>"></a>
                                          <a class="addthis_button_preferred_4" addthis:url="<?php echo $_product->getProductUrl() ?>"></a>
                                          <a class="addthis_button_compact" addthis:url="<?php echo $_product->getProductUrl() ?>"></a>
                                        </div>
                                      </li>
                                    </ul>
                                </li>
                            </ul>
                            <script type="text/javascript">
                                jQuery('.dropdown').on('hidden.bs.dropdown', function () {
                                    setTimeout(function(){ jQuery('.dropdown').show(); }, 10);
                                })
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <?php endforeach ?>
</div>
