<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?php echo $this->getLang() ?>" lang="<?php echo $this->getLang() ?>">
<head>
  <?php echo $this->getChildHtml('head') ?>
</head>
<body<?php echo $this->getBodyClass()?' class="ps-static '.$this->getBodyClass().'"':'' ?>>
  <?php echo $this->getChildHtml('after_body_start') ?>
  <div class="wrapper ps-static <?php echo $this->getLang().'-lang-class';?>">
    <?php echo $this->getChildHtml('global_notices') ?>
    <?php /*<div class="page">
      <div class="main-container col1-layout">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="main">
                <?php echo $this->getChildHtml('breadcrumbs') ?>
                <div class="col-main">
                  <div class="padding-s">
                    <?php echo $this->getChildHtml('global_messages') ?>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div
    </div>
  </div> */ ?>
  <?php echo $this->getChildHtml('header') ?>
  <script type="text/javascript" src="//s7.addthis.com/js/<?php echo $menu_version;?>/addthis_widget.js"></script>
  <?php echo $this->getChildHtml('content') ?>
  <?php echo $this->getChildHtml('footer') ?>
  <!-- to-top -->
  <a href="#" id="back-to-top" title="Back to top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
  <?php echo $this->getChildHtml('global_cookie_notice') ?>
  <?php echo $this->getChildHtml('before_body_end') ?>
  <?php echo $this->getAbsoluteFooter() ?>
  </body>
</html>
