<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?php echo $this->getLang() ?>" lang="<?php echo $this->getLang() ?>">
<head>
<?php echo $this->getChildHtml('head') ?>
</head>
<body<?php echo $this->getBodyClass()?' class="ps-static '.$this->getBodyClass().'"':'' ?>>
<?php echo $this->getChildHtml('after_body_start') ?>
<div class="wrapper ps-static <?php echo $this->getLang().'-lang-class';?>">
    <?php echo $this->getChildHtml('global_notices') ?>
    <div class="page">
        <?php echo $this->getChildHtml('header') ?>
        <script type="text/javascript" src="//s7.addthis.com/js/<?php echo $menu_version;?>/addthis_widget.js"></script>
  			<div class="container">
            <div class="row">
              <?php echo $this->getChildHtml('breadcrumbs') ?>
            </div>
            <div class="row">
                <div class="col-md-3 left-bar">
                    <?php echo $this->getChildHtml('left') ?>
                    <div class="link div-link">
                        <img src="<?php echo $this->getSkinUrl('images/sign-up.png'); ?>" alt="sign-up">
                    </div>
                </div>
                <div class="col-md-9 cat-content">
                    <?php echo $this->getChildHtml('global_messages') ?>
                    <?php echo $this->getChildHtml('content') ?>
                </div>
            </div>
        </div>
        <?php echo $this->getChildHtml('footer') ?>
        <?php echo $this->getChildHtml('global_cookie_notice') ?>
        <?php echo $this->getChildHtml('before_body_end') ?>
    </div>
</div>
<?php echo $this->getAbsoluteFooter() ?>
</body>
</html>
