<?php if ($this->helper('mywishlist')->isAllow()) : ?>
    <?php
        $wishlist = Mage::getModel('wishlist/wishlist');
        $customerId = Mage::getSingleton('customer/session')->getCustomerId();
        $wishlist->loadByCustomer($customerId, true);
        $wishlistId = $wishlist->getId();
        $wishlists = $wishlist->getItemCollection();
        $hasWishlistItems = count($wishlists) > 0;
    ?>

    <div class="my-wishlist">
        <div class="page-title title-buttons">
            <?php if ($hasWishlistItems): ?>
                <a href="<?php echo $this->helper('mywishlist')->getRssUrl($wishlistId); ?>" class="link-rss"><?php echo $this->__('RSS Feed') ?></a>
            <?php endif; ?>
            <div class=""><?php echo $this->__('Wishlist'); ?></div>
        </div>
        <?php echo $this->getMessagesBlock()->toHtml() ?>

        <form id="wishlist-view-form" action="<?php echo $this->getUrl('*/*/update', array('wishlist_id' => $wishlistId)) ?>" method="post">
            <?php //echo $this->getChildHtml('top'); ?>
            <fieldset>
                <?php if ($hasWishlistItems): ?>
                        <?php echo $this->getBlockHtml('formkey');?>
                        <?php $this->getChild('items')->setItems($wishlists); ?>
                        <?php echo $this->getChildHtml('items');?>
                        <script type="text/javascript">decorateTable('wishlist-table')</script>
                <?php else: ?>
                    <p class="wishlist-empty"><?php echo $this->__('You have no items in your wishlist.') ?></p>
                <?php endif ?>
                <div class="buttons-set buttons-set2">
                    <?php //echo $this->getChild('control_buttons')->toHtml();?>
                </div>
            </fieldset>
        </form>

        <form id="wishlist-allcart-form" action="<?php echo $this->getUrl('*/*/allcart') ?>" method="post">
            <?php echo $this->getBlockHtml('formkey') ?>
            <div class="no-display">
                <input type="hidden" name="wishlist_id" id="wishlist_id" value="<?php echo $wishlistId ?>" />
                <input type="hidden" name="qty" id="qty" value="" />
            </div>
        </form>
    </div>
    <?php //echo $this->getChildHtml('bottom'); ?>
    <div class="buttons-set">
        <p class="back-link"><a href="<?php echo $this->getUrl('customer/address/'); ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
    </div>

    <script type="text/javascript">
    //<![CDATA[
        var wishlistForm = new Validation($('wishlist-view-form'));
        var wishlistAllCartForm = new Validation($('wishlist-allcart-form'));

        function calculateQty() {
            var itemQtys = new Array();
            $$('#wishlist-view-form .qty').each(
                function (input, index) {
                    var idxStr = input.name;
                    var idx = idxStr.replace( /[^\d.]/g, '' );
                    itemQtys[idx] = input.value;
                }
            );

            $$('#qty')[0].value = JSON.stringify(itemQtys);
        }

        function addAllWItemsToCart() {
            calculateQty();
            wishlistAllCartForm.form.submit();
        }
    //]]>
    </script>
<?php endif ?>
