<?php
$_helper = $this->helper('catalog/product_compare');
$_items = $_helper->getItemCount() > 0 ? $_helper->getItemCollection() : null;
?>
<div class="block block-list block-compare">

      <div class="h3-style-cap">
          <?php echo $this->__('Compare Products') ?>
          <?php /*if($_helper->getItemCount() > 0): ?>
              <small><?php echo $this->__('(%d)', $_helper->getItemCount()) ?></small>
          <?php endif;*/ ?>
      </div>

    <?php if($_helper->getItemCount() > 0): ?>
        <?php foreach($_items as $_index => $_item): ?>
            <?php
                $productId = $_item->getId();
                $product = Mage::getModel('catalog/product')->load($productId);
            ?>
            <div class="col-md-12 wine-info-sidebar clearfix">
                <input type="hidden" class="compare-item-id" value="<?php echo $_item->getId() ?>" />
                <div class="wine-info-img">
                    <a class="product-image" href="<?php echo $this->getProductUrl($_item) ?>"><img src="<?php echo $this->helper('catalog/image')->init($product, 'thumbnail')->resize(90,138); ?>" alt="" /></a>
                </div>
                <div class="wine-info-txt">
                    <div class="product-name"><a href="<?php echo $this->getProductUrl($_item) ?>"><?php echo $this->helper('catalog/output')->productAttribute($_item, $_item->getName(), 'name') ?></a></div>
                    <div class="product-price"><?php echo $this->getPriceHtml($_item, true, '-related') ?></div>
                </div>
                <div class="delete-c"><a href="<?php echo $_helper->getRemoveUrl($_item) ?>" title="<?php echo $this->__('Remove This Item') ?>" onclick="return confirm('<?php echo $this->__('Are you sure you would like to remove this item from the compare products?') ?>');"><i class="fa fa-times" aria-hidden="true"></i></a></div>
            </div>
        <?php endforeach; ?>
        <div class="col-md-12 clearfix btn-compare-clear">
          <button type="button" name="button" class="btn btn-compare" title="<?php echo $this->__('Compare') ?>" onclick="popWin('<?php echo $_helper->getListUrl() ?>','compare','top:0,left:0,width=820,height=600,resizable=yes,scrollbars=yes')"><?php echo $this->__('Compare') ?></button>
          <div class="under-all clear-all"><a href="<?php echo $_helper->getClearListUrl() ?>" onclick="return confirm('<?php echo $this->__('Are you sure you would like to remove all products from your comparison?') ?>');"><?php echo $this->__('Clear All') ?></a></div>
        </div>
        <script type="text/javascript">decorateList('compare-items')</script>
    <?php else: ?>
        <p class="empty"><?php echo $this->__('You have no items to compare.') ?></p>
    <?php endif; ?>
</div>
