<?php if($this->getCollection()->getSize()): ?>
<div class="row sort-page">
    <div class="col-xs-12 col-sm-6 col-md-6 sort-page-in">
        <div class="form-group clearfix">
            <div class="div-sort">
                <div class="sort-by"><label for="sort"><?php echo $this->__('Sort By') ?></label></div>
                <div class="sort-by">
                    <select class="form-control" onchange="setLocation(this.value)">
                    <?php foreach($this->getAvailableOrders() as $_key=>$_order): ?>
                        <option value="<?php echo $this->getOrderUrl($_key, 'asc') ?>"<?php if($this->isOrderCurrent($_key)): ?> selected="selected"<?php endif; ?>>
                            <?php echo $this->__($_order) ?>
                        </option>
                    <?php endforeach; ?>
                    </select>
                </div>
            </div>
            <div class="out-of-item">
                <label for="out-of-item">
                    <?php if($this->getLastPageNum()>1): ?>
                        <?php echo $this->__('Items %s to %s of %s total', $this->getFirstNum(), $this->getLastNum(), $this->getTotalNum()) ?>
                    <?php else: ?>
                        <strong><?php echo $this->__('%s Item(s)', $this->getTotalNum()) ?></strong>
                    <?php endif; ?>
                </label>
            </div>
            <?php /*
                <div class="right">
          				<?php if($this->getCurrentDirection() == 'desc'): ?>
          					<a class="fa fa-arrow-down" href="<?php echo $this->getOrderUrl(null, 'asc') ?>" title="<?php echo $this->__('Set Ascending Direction') ?>"><!-- <img src="<?php echo $this->getSkinUrl('images/i_desc_arrow.gif') ?>" alt="<?php echo $this->__('Set Ascending Direction') ?>" class="v-middle" /> --></a>
          				<?php else: ?>
          					<a class="fa fa-arrow-up" href="<?php echo $this->getOrderUrl(null, 'desc') ?>" title="<?php echo $this->__('Set Descending Direction') ?>"><!-- <img src="<?php echo $this->getSkinUrl('images/i_asc_arrow.gif') ?>" alt="<?php echo $this->__('Set Descending Direction') ?>" class="v-middle" /> --></a>
          				<?php endif; ?>
          			</div>
            */ ?>
            <div class="col-md-3"></div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 sort-page-in page-ori">
        <?php echo $this->getPagerHtml() ?>
        <div class="sort-by">
            <select class="form-control" onchange="setLocation(this.value)">
                <?php foreach ($this->getAvailableLimit() as  $_key=>$_limit): ?>
                    <option value="<?php echo $this->getLimitUrl($_key) ?>"<?php if($this->isLimitCurrent($_key)): ?> selected="selected"<?php endif ?>>
                        <?php echo $_limit ?>
                    </option>
                <?php endforeach; ?>
            </select>
        </div>
        <!--<div class="sort-by">
            <div class="orientation clearfix">
                <div class="ori-list"><i class="fa fa-list-ul" aria-hidden="true"></i></div>
                <div class="ori-list"><i class="fa fa-th" aria-hidden="true"></i></div>
            </div>
        </div>-->
    </div>

    <!-- unknow -->
    <?php if( $this->isExpanded() ): ?>
    <div class="sorter">
        <?php if( $this->isEnabledViewSwitcher() ): ?>
        <p class="view-mode">
            <?php $_modes = $this->getModes(); ?>
            <?php if($_modes && count($_modes)>1): ?>
            <label><?php echo $this->__('View as') ?>:</label>
            <?php foreach ($this->getModes() as $_code=>$_label): ?>
                <?php if($this->isModeActive($_code)): ?>
                    <strong title="<?php echo $_label ?>" class="<?php echo strtolower($_code); ?>"><?php echo $_label ?></strong>&nbsp;
                <?php else: ?>
                    <a href="<?php echo $this->getModeUrl($_code) ?>" title="<?php echo $_label ?>" class="<?php echo strtolower($_code); ?>"><?php echo $_label ?></a>&nbsp;
                <?php endif; ?>
            <?php endforeach; ?>
            <?php endif; ?>
        </p>
        <?php endif; ?>

    </div>
    <?php endif; ?>
</div>
<?php endif ?>
